.hide {
  display: none !important;
}
.show {
  display: block !important;
}

:root {
  --color-1: #d62828;
  --color-2: #003049;
  --color-3: #f77f00;
  --color-4: #fcbf49;
  --color-5: #eae2b7;
}

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.container {
  margin: 3rem auto;
  max-width: 800px;
  padding: 10px;
}

h1,
h3,
p,
span {
  font-family: inherit;
}

.form {
  display: flex;
  justify-content: space-between;
  margin: 3rem 0;
  gap: 1rem;
}
.form input {
  width: 100%;
  padding: 0.7rem;
  font-size: 1.5rem;
  font-weight: bold;
  border: 1px dashed #ddc;
  border-radius: 0.2rem;
  font-family: inherit;
}
.form button {
  width: 30%;
  font-weight: bold;
  background-color: var(--color-3);
  border: none;
  border-radius: 0.2rem;
  cursor: pointer;
  font-family: inherit;
  font-size: 1.4rem;
}
.result {
  display: flex;
  flex-direction: column;
}
.top-wrapper {
  display: flex;
  column-gap: 2rem;
  justify-content: space-between;
}
.current-temp {
  font-size: 2rem;
  background-color: var(--color-1);
  padding: 0.4rem 0.6rem;
  border-radius: 5px;
  text-align: center;
  color: white;
  font-weight: bold;
}
.result-name {
  font-size: 2rem;
  background-color: none;
}
.wrap {
  display: flex;
  gap: 1rem;
}
.wrap > a > i {
  color: green;
}
.coord {
  display: flex;
  font-size: 1rem;
  gap: 2rem;
}
.temp {
  display: grid;
  justify-content: space-between;
  margin: 3rem 0;
  row-gap: 10px;
  gap: 10px;
  grid-template-columns: repeat(5, 1fr);
}
.temp > p {
  background-color: var(--color-2);
  padding: 0.5rem;
  border-radius: 0.3rem;
  color: white;
}
.temp > p > span {
  font-size: 1.4rem;
}

.sun {
  display: flex;
  justify-content: space-between;
  margin: 3rem 0;
}
.sun > div {
}

@media only screen and (max-width: 1200px) {
  /*Tablets [601px -> 1200px]*/
}
@media only screen and (max-width: 600px) {
  /*Big smartphones [426px -> 600px]*/
  .container {
    padding: 20px;
    margin: 1rem auto;
  }
  .form {
    margin: 2rem 0;
  }
  .form input {
    width: 60%;
    font-size: 1.2rem;
  }
  .form button {
    font-size: 1.2rem;
  }
  .result .top-wrapper {
    flex-direction: column;
  }
  .result .top-wrapper .result-name {
    flex-direction: column;
    margin: 0;
    background-color: #ccc;
    padding: 1rem;
    border-radius: 0.5rem;
  }
  .result .top-wrapper .result-name .wrap {
    margin: 0;
    justify-content: space-between;
  }
  .result .top-wrapper .result-name .wrap,
  i {
    font-size: 1.5rem;
  }
  .result .top-wrapper .result-name .wrap img {
    width: 50px;
    margin: 0;
    padding: 0;
  }
  .temperature {
    background-color: var(--color-1);
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 0.5rem;
    color: white;
    text-align: center;
  }
  .temp {
    display: flex;
    margin: 0;
    flex-wrap: wrap;
  }
  .temp p {
    flex: 1;
    width: 50%;
  }
}
@media only screen and (max-width: 425px) {
  /*Small smartphones [325px -> 425px]*/
  .container {
    padding: 20px;
    margin: 1rem auto;
  }
  .form {
    margin: 2rem 0;
  }
  .form input {
    width: 60%;
    font-size: 1.2rem;
  }
  .form button {
    font-size: 1.2rem;
  }
  .result .top-wrapper {
    flex-direction: column;
  }
  .result .top-wrapper .result-name {
    flex-direction: column;
    margin: 0;
    background-color: #ccc;
    padding: 1rem;
    border-radius: 0.5rem;
  }
  .result .top-wrapper .result-name .wrap {
    margin: 0;
    justify-content: space-between;
  }
  .result .top-wrapper .result-name .wrap,
  i {
    font-size: 1.5rem;
  }
  .result .top-wrapper .result-name .wrap img {
    width: 50px;
    margin: 0;
    padding: 0;
  }
  .temperature {
    background-color: var(--color-1);
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 0.5rem;
    color: white;
    text-align: center;
  }
  .temp {
    display: flex;
    margin: 0;
    flex-wrap: wrap;
  }
  .temp p {
    flex: 1;
    width: 50%;
  }
}
